Package: libxcb-xvmc0-dbgsym
Source: libxcb
Version: 1.13.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 26
Depends: libxcb-xvmc0 (= 1.13.1-2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libxcb-xvmc0
Build-Ids: 2e56d1558d2cded811baa95e978a4a709a70d629
