Package: libxcb-shm0-dbgsym
Source: libxcb
Version: 1.13.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 23
Depends: libxcb-shm0 (= 1.13.1-2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libxcb-shm0
Build-Ids: 04b74b19dc63c8122f0a0a264359a65cfa9b1f78
