Package: libxcb-render0-dbgsym
Source: libxcb
Version: 1.13.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 59
Depends: libxcb-render0 (= 1.13.1-2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libxcb-render0
Build-Ids: ff31da39b6eff5c945dda1c0c5dbbf7e003b1acc
