Package: libxcb-dpms0-dbgsym
Source: libxcb
Version: 1.13.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 21
Depends: libxcb-dpms0 (= 1.13.1-2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libxcb-dpms0
Build-Ids: ccc0526b1c605c76004b2bb3997ee4e0d22cbac2
