Package: libxcb-xkb1-dbgsym
Source: libxcb
Version: 1.13.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 111
Depends: libxcb-xkb1 (= 1.13.1-2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libxcb-xkb1
Build-Ids: ec08d912f48da3df0d83ee7efed0b258fd1eb3b7
